<section class="ftco-intro ftco-no-pt ftco-no-pb img" style="background-image: url(/static/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container-xl py-5">
    <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8">
    <div class="row" data-aos="fade-up" data-aos-duration="1000">
    <div class="col-md-8 d-flex align-items-center">
    <div>
    <span class="subheading">Find Best Hotel For Leaving</span>
    <h1 class="mb-md-0 mb-4">Find the Best Hotel in Your Next Vacation</h1>
    </div>
    </div>
    <div class="col-md-4 d-flex align-items-center">
    <p class="mb-0"><a href="/room/" class="btn btn-primary py-md-4 py-3 px-md-5 px-4">Book Now</a></p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>