<section class="ftco-section ftco-about-section">
    <div class="container-xl">
        <div class="row g-xl-5">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                <div class="row">
                    <div class="col-md-6">
                        <div class="f-services d-md-flex flex-md-column-reverse">
                            <div class="img w-100" style="background-image: url(/static/images/f-services.jpg);"></div>
                            <div class="text w-100 p-4 text-center mb-md-4">
                                <div class="icon"><span class="flaticon-pillow"></span></div>
                                <h3>Cozy Room</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="f-services">
                            <div class="img w-100 mb-md-4" style="background-image: url(/static/images/f-services-2.jpg);"></div>
                            <div class="text w-100 p-4 text-center">
                                <div class="icon"><span class="flaticon-special"></span></div>
                                <h3>Special Offers</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <div class="mt-5 mt-md-0">
                    <span class="subheading">About Us</span>
                    <h2 class="mb-4">Unwind A Hotel Booking Agency</h2>
                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p><a href="/room/" class="btn btn-primary py-3 px-4">Book Your Room Now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>