<!DOCTYPE html>
<html lang="en">
{% include 'user_header.html'%}
<body>
  {% include 'user_navebar.html'%}
  {% include 'user_slider.html'%}
  {% include 'prebook.html'%}

<section class="ftco-section bg-light">
<div class="container-xl">
<div class="row justify-content-center">
<div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
<div class="room-wrap d-md-flex flex-md-column-reverse">
<a href="room-single.html" class="img img-room" style="background-image: url(/static/images/room-1.jpg);">
</a>
<div class="text p-5 text-center">
<h3><a href="room-single.html">Suite Room</a></h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
<p class="mb-0 mt-2"><span class="me-3 price">$450 <small>/ night</small></span><a href="#" class="btn-custom">Book Now</a></p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="flip-left" data-aos-delay="200" data-aos-duration="1000">
<div class="room-wrap">
<a href="room-single.html" class="img img-room" style="background-image: url(/static/images/room-2.jpg);">
</a>
<div class="text p-5 text-center">
<h3><a href="room-single.html">Family Room</a></h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
<p class="mb-0 mt-2"><span class="me-3 price">$450 <small>/ night</small></span><a href="#" class="btn-custom">Book Now</a></p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="flip-left" data-aos-delay="300" data-aos-duration="1000">
<div class="room-wrap d-md-flex flex-md-column-reverse">
<a href="room-single.html" class="img img-room" style="background-image: url(/static/images/room-3.jpg);">
</a>
<div class="text p-5 text-center">
<h3><a href="room-single.html">Deluxe Room</a></h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
<p class="mb-0 mt-2"><span class="me-3 price">$450 <small>/ night</small></span><a href="#" class="btn-custom">Book Now</a></p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
<div class="room-wrap d-md-flex flex-md-column-reverse">
<a href="room-single.html" class="img img-room" style="background-image: url(/static/images/room-4.jpg);">
</a>
<div class="text p-5 text-center">
<h3><a href="room-single.html">Classic Room</a></h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
<p class="mb-0 mt-2"><span class="me-3 price">$450 <small>/ night</small></span><a href="#" class="btn-custom">Book Now</a></p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="flip-left" data-aos-delay="200" data-aos-duration="1000">
<div class="room-wrap">
<a href="room-single.html" class="img img-room" style="background-image: url(/static/images/room-5.jpg);">
</a>
<div class="text p-5 text-center">
<h3><a href="room-single.html">Superior Room</a></h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
<p class="mb-0 mt-2"><span class="me-3 price">$450 <small>/ night</small></span><a href="#" class="btn-custom">Book Now</a></p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="flip-left" data-aos-delay="300" data-aos-duration="1000">
<div class="room-wrap d-md-flex flex-md-column-reverse">
<a href="room-single.html" class="img img-room" style="background-image: url(/static/images/room-6.jpg);">
</a>
<div class="text p-5 text-center">
<h3><a href="room-single.html">Luxury Room</a></h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
<p class="mb-0 mt-2"><span class="me-3 price">$450 <small>/ night</small></span><a href="#" class="btn-custom">Book Now</a></p>
</div>
</div>
</div>
</div>
<div class="row mt-5">
<div class="col text-center">
<div class="block-27">
<ul>
<li><a href="#">&lt;</a></li>
<li class="active"><span>1</span></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">&gt;</a></li>
</ul>
</div>
</div>
</div>
</div>
</section>
<hr>
{% include 'intro_page.html'%}
{% include 'user_footer.html'%}
</body>

<!-- Mirrored from preview.colorlib.com/theme/unwind/rooms.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Feb 2024 18:03:58 GMT -->
</html>